

<input type="hidden" value="@TempData["PostID"]" id="idArea" />
<textarea id="postUpdateTextArea" style="min-width:73%;min-height:220px;resize:none" class="form-control">@TempData["Content"]</textarea>
<br />
<div class="btn btn-default" id="btnUpdate">Update</div>
<div class="btn btn-danger" id="btnCancel">Cancel</div>

    <script>
    $(function () {
        $('#btnUpdate').click(function () {
            var postContent = $('#postUpdateTextArea').val();
            var postID = $('#idArea').val();

            $.ajax({
                method: "POST",
                url: '@Url.Action("UpdatePost","Forum")',
                type: 'json',
                data: { ID: postID, content: postContent },
                success: function () {
                    window.location.reload();
                }, error: function (xhr, status, error) {
                    alert(xhr.responseJSON);
                }

            });
        });

        $('#btnCancel').click(function () {
            window.location.reload();
        });

        });
    </script>
