
@{
    ViewBag.Title = "DesktopApplicationTutorailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<body background="~/images/tutorialbg.png" style="background-position: center;background-repeat:no-repeat;background-size:auto">
    <br />

    <div align="center">  <font face="Georgia" color="white"> <b><h1>SCREEN SHARE TUTORIAL</h1></b></font> </div>
    <hr />




    <div class="row">
        <div align="left">
            <div class="col-xs-10 jumbotron">
                <font face="Georgia" style="font-size:18px"><span class="badge" style="font-size:20px">1</span> Login to our system and choose one of the options from navigation bar! <ul><li>Connect As Sharer</li><li>Connect As Viewer</li></ul></font>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-10 jumbotron">
            <font face="Georgia" style="font-size:18px"><span class="badge" style="font-size:20px">2</span> Download our Desktop Application form the link below: </font>

        </div>
    </div>


    <div class="row">
        <div align="left">
            <div class="col-xs-10 jumbotron">
                <font face="Georgia" style="font-size:18px"><span class="badge" style="font-size:20px">3</span> Open our application and login</font>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-10 jumbotron">
            <font face="Georgia" style="font-size:18px"><span class="badge" style="font-size:20px">4</span>Enter the name that you want to give your connection and enter! </font>
        </div>
    </div>


    <div class="row">
        <div align="left">
            <div class="col-xs-10 jumbotron">
                <font face="Georgia" style="font-size:18px"><span class="badge" style="font-size:20px">5</span> Wait for several seconds while connection is establishing!</font>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-10 jumbotron">
            <font face="Georgia" style="font-size:18px"><span class="badge" style="font-size:20px">6</span>Your screen share is established! Enjoy! </font>
        </div>
    </div>


</body>

